# Environments
.env
spark-master.env
spark-worker.env

# folder
dagster_home/.nux/
dagster_home/.telemetry/
dagster_home/compute_logs/
dagster_home/logs/
docker/notebooks/work/
docker/notebooks/.ipynb_checkpoints/
load_data_into_mysql/load_data.ipynb